:root {
    --bg-one: #080808;
    --bg-two: #111111;
    --bg-three: #252525;
    --bg-four: #3a3a3a;
    --hl-one: #0085cd;
    --hl-two: white;
    --hl-three: #005685;
    --hl-four: #24242b;
    --border: 0px 0px 0 1px rgb(255 255 255 / 20%);
    --fg-one: #ffffff;
    --fg-two: #ffffff7a;
    --fg-dim: #ffffffb7;
    --fg-three: rgb(207, 164, 255);
}

.first_bar {
    border-right: 1px solid var(--diff-three);
}

.topbar {
    border-bottom: 1px solid var(--diff-three);
}

.third_bar {
    background-color: var(--bg-two);
}

.text_box,
.user_display {
    outline: 1px solid var(--diff-three);
    background-color: var(--bg-two);
}

.pfp {
    border-radius: 5em !important;
}
