/* not fun */
/*:root {
  --bg-one: #050505;
  --bg-two: #080808;
  --bg-three: #141419;
  --bg-four: #3a3a3a;
  --hl-one: #EE7F55;
  --hl-two: #EFBA87;
  --hl-three: #D33C3F;
  --hl-four: #D33C3F;
  --border: 0px 0px 0 1px rgb(255 255 255 / 20%);
  --diff-three:#EE7F55ab;
  --fg-three: rgb(207, 164, 255);
}*/
