:root {
  --bg-one: #EAEAEA;
  --bg-two: #ffffff;
  --bg-three: #bebebe;
  --bg-four: #c5c5c5;
  --hl-one: rgb(192, 22, 138);
  --hl-two: rgb(194, 46, 177);
  --hl-three: #a26418;
  --hl-four: #ff77a9;
  --border: 0px 0px 0 1px rgb(255 255 255 / 20%);
  --fg-one: #000000;
  --fg-two: #000000;
  --fg-dim: #000000b7;
  --fg-three: rgb(254 164 255);
}